*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* ------- common design ------- */
.flex{
    display: flex;
    flex-wrap: wrap;
}

button {
    height: 68px;
    width: 192px;
    border-radius: 100px;
    border: transparent;
    background-image: linear-gradient(45deg, #FBA24F, #ff1e1e);
    font-size: 18px;
    color: #fff;
}

.top_banner,.recipie_area,.counter_area{
    width:1260px;
    margin: 0 auto;
}

/* ---- banner top start---- */

.top_banner_text_area {
    margin-top: 260px;
    width: 50%;
}
.banner_title {
    font-size: 60px;
    color:#575757;
    font-weight: 700;
}
.top_banner_img_area {
    width: 50%;
}

.banner_title span {
    background: -webkit-linear-gradient(#FBA24F, #ff1e1e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top_banner_text_area p {
    margin-top: 43px;
    font-size: 20px;
    font-weight: 500;
    color: #575757;
    margin-bottom: 50px;
}

/* -------- banner top end --------- */

/* -------- about start ----------- */
.about_area {
    background-image: url(./images/about\ cover.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
}

.about_img{
    width: 50%;
    text-align: center;
    margin-top: 65px;
}
.about_text_area {
    width: 50%;
    margin-top: 130px;
    background-image: url(./images/dot.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.about_title {
    font-size: 40px;
    color: #707070;
}
.about_text {
    margin: 35px 0 85px 0;
    width: 494px;
    line-height: 32px;
    font-size: 18px;
    color:#18191F;
}

/* -------- about start end----------- */

/* ----- recipies area start ------- */
.recipie_title_box {
    width: 700px;
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
}
.recipie_title {
    font-size: 36px;
    color: #676767;
}
.recipie_title_text {
    font-size: 18px;
    margin-top: 25px;
    color: #252525;
    line-height: 32px;
}
.recipie_card_box{
    gap: 30px;
}

.card {
    width: 50%;
    padding: 30px;
    box-shadow: 0 4px 40px rgb(0 0 0 / 15%);
    margin-top: 25px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.card_img img {
    width: 100%;
}
.card_title {
    font-size: 28px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #18191F;
}

.card_text p {
    font-size: 18px;
    color: #18191F;
    line-height: 30px;
}
/* ----- recipies area end ------- */

/* ---------- counter area start --------- */
.counter_area {
    margin-top: 80px;
    padding: 50px 130px;
    box-shadow: 0 4px 40px rgb(0 0 0 / 15%);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.counter_box_area {
    justify-content: space-between; 
}
.counter_box h1 {
    font-size: 48px;
    line-height: 64px;
}
/* ---------- counter area end --------- */

/* --------- footer ---------- */
footer span {
    background: -webkit-linear-gradient(#FBA24F, #ff1e1e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
footer p {
    color: #fff;
}
footer {
    text-align: center;
    background-color: #0B0D17;
    padding-bottom: 115px;
    margin-top: 75px;
}

footer h2 {
    color: #5B5B5B;
    font-size: 30px;
    padding: 40px 0;
}