*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* ------- common design ------- */
.flex{
    display: flex;
}

button {
    height: 68px;
    width: 192px;
    border-radius: 100px;
    border: transparent;
    background-image: linear-gradient(45deg, #FBA24F, #ff1e1e);
    font-size: 18px;
    color: #fff;
}

/* ---- banner top start---- */
.top_banner{
    width:1260px;
    margin: 0 auto;
}
.top_banner_text_area {
    margin-top: 260px;
    width: 50%;
}
.banner_title {
    font-size: 60px;
    color:#575757;
    font-weight: 700;
}
.top_banner_img_area {
    width: 50%;
}

.banner_title span {
    background: -webkit-linear-gradient(#FBA24F, #ff1e1e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top_banner_text_area p {
    margin-top: 43px;
    font-size: 20px;
    font-weight: 500;
    color: #575757;
    margin-bottom: 50px;
}

/* -------- banner top end --------- */

/* -------- about start ----------- */
.about_area {
    background-image: url(./images/about\ cover.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
}

.about_img{
    width: 50%;
    text-align: center;
    margin-top: 65px;
}
.about_text_area {
    width: 50%;
    margin-top: 130px;
    background-image: url(./images/dot.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.about_title {
    font-size: 40px;
    color: #707070;
}
.about_text {
    margin: 35px 0 85px 0;
    width: 494px;
    line-height: 32px;
    font-size: 18px;
    color:#18191F;
}

/* -------- about start end----------- */
